<style type="text/css">
	.xtabs{
		position: absolute;
		line-height: 28pt;
		top:0;
		width:100%;
		clear:both;
		z-index:5;
	}
	.xtab{
		width:33.33333%;
		color:#697d91;
		float:left;
		text-align: center;
		border-bottom: 2px solid #fff;
		font-size:12pt;
	}
	.xtab-active{
		color:#fc7946;
		border-bottom: 2px solid #fc7946;
	}

	.xtab span{
		padding-left:2pt;vertical-align:middle;
	}
	.xtab img{
		width:13pt;vertical-align:middle;
	}
	
	.xtabs .line-l{
		float:left;line-height:16px;border-left: 1px solid #d8e2e9;margin-top:12px;
	}
	.xtabs .line-r{
		float:right;line-height:16px;border-right: 1px solid #d8e2e9;margin-top:12px;
	}

	.xtips{
		position:absolute;
		top:30pt;
		line-height: 25pt;
		background: #edf2f6;
		color:#9dacb6;
		font-size:9pt;
		width:100%;
		text-align: center;
		clear:both;
		z-index:5;
	}
	.xtips img{
		float:right;
		padding-top:5pt;
		padding-right:5pt;
	}
	.xlist{
		display:absolute;
		margin-top:53pt;
		height:100%;
		margin-bottom: 53pt;
	}
	.xitem{
		overflow:hidden;
		height:110pt;
		position: relative;
		margin-bottom: 10px;
	}
	.xtitle-bg{
		position: absolute;top:0;width:100%;background:#000;line-height: 30pt;opacity:0.5;
	}
	.xtitle{
		position: absolute;top:0;width:100%;text-align:center;line-height: 30pt;font-size:12pt;color:#fff;
	}
	.xrate{
		position: absolute;top: 45pt;
		text-align: center;
		width:100%;
	}
	.xrate span{
		color:#fff;
		font-size:11pt;
		padding-left: 2pt;
		vertical-align: middle;
	}
	.xrate img{
		vertical-align: middle;
		width:11pt;
	}
	
	.xtotalrate{
		position: absolute;
		bottom: 0px;
		height: 30pt;
		clear:both;
		text-align: center;
		width:100%;
		overflow: hidden;
	}
	.xtotalrate img{
		position: relative;
		bottom: 0;
		height: 30pt;
	}
	.xtotalrate-header{
		position: absolute;
		font-size: 11pt;
		color:#fff;
		bottom:0px;
		width: 100%;
		text-align:center;
		line-height: 30pt;
		left:-39px;
	}
	.xtotalrate-line{
		position: absolute;
		font-size: 10pt;
		bottom:0px;
		width: 100%;
		text-align:center;
		line-height: 30pt;
	}
	.xtotalrate-line span{
		border-left:1pt solid #d8e2e9;
	}
	.xtotalrate-info{
		position: absolute;
		font-size: 11pt;
		color:#fff;
		bottom:0px;
		width: 100%;
		text-align:center;
		line-height: 30pt;
		left:30pt;
		color:#fff;
	}
	.xtotalrate-info-1{
		color:#5eb87b;
	}
	.xtotalrate-info-2{
		color:#ffffff;
	}
	.xtotalrate-info-3{
		color:#e4362d;
	}
	
</style>
<ion-view ng-controller="IndexCtrl" ng-init="init()">
	<ion-pane>
		<div class="white_content" ng-show="help.isShowHelp">
	    	<div class="help">{{help.title}}</div>
	    	<div class="help-close" ng-click="help.hideHelp()">
	    		<div class="img1 pr"><img src="./img/render/2X/btn_bangzhu2.png"></div>
	    		<div class="img2 pr"><img src="./img/render/2X/btn_bangzhu1.png"></div>
	    	</div>
	    	<div class="help-text">
	    		<div>
	    		{{help.text}}
	    		</div>
	    	</div>
	    </div>
	    <div class="black_overlay" ng-show="help.isShowHelp"></div>

		<div class="xtabs">
			<div class="xtab xtab-1" ng-class="{true:'xtab-active xtab-active-1'}[tabIdx==0]" ng-click="selectTabWithIndex(0)">
				<img ng-src="{{img0}}"><span>全部策略</span>
			</div>
			<div class="xtab xtab-2" ng-class="{true:'xtab-active xtab-active-2'}[tabIdx==1]" ng-click="selectTabWithIndex(1)">
				<div class="line-l">&nbsp;</div>
				<img ng-src="{{img1}}"><span>价值精选</span>
				<div class="line-r">&nbsp;</div>
			</div>
			<div class="xtab xtab-3" ng-class="{true:'xtab-active xtab-active-3'}[tabIdx==2]" ng-click="selectTabWithIndex(2)">
				<img ng-src="{{img2}}"><span>技术精选</span>
			</div>
		</div>
		<div class="xtips" ng-click="help.showHelp(0)">
			来自平安证券www.pingan.com提供
			<img src="./img/render/2X/btn_list_bangzhu1.png" style="width:20pt;">
		</div>
		<ion-scroll class="xlist">
			<div class="xitem" ng-repeat="data in datas" ng-click="go('stock_list',{id:data.id})">
				<img ng-src="{{data.img}}" width="100%" style="z-index:-1;height: 120pt;">
				<div class="xtitle-bg">&nbsp;</div>
				<div class="xtitle">{{data.name}}</div>
				<div class="xrate">
					<img src="./img/render/2X/icon_list_zhang.png"><span>涨{{data.up}}只</span>&nbsp;&nbsp;
					<img src="./img/render/2X/icon_list_die.png"><span>跌{{data.down}}只</span>&nbsp;&nbsp;
					<img src="./img/render/2X/icon_list_ping.png"><span>平{{data.flat}}只</span>
				</div>
				<div class="xtotalrate"><img src="./img/render/2X/bg_list_leiji.png" style="width:110pt;height:30pt"></div>
				<div class="xtotalrate-header">
					累计涨跌
				</div>
				<div class="xtotalrate-line">
					<span></span>
				</div>
				<div class="xtotalrate-info" ng-class="{'xtotalrate-info-1':data.total_change_rate_no<0,'xtotalrate-info-3':data.total_change_rate_no>0}">
					{{data.total_change_rate}}%
				</div>
			</div>
			<div style="line-height: 53pt;">&nbsp;</div>
		</ion-scroll>
	</ion-pane>
</ion-view>