<ion-view>
	<ion-content ng-controller="IndexCtrl" ng-init="init()" style="background:#f3f3f3">
	    <ion-list>
			<div>
	        	<img src="./img/index_top_1.jpg" style="width:100%;">
	    	</div>
	      	<div>
	        	<div style="background:#fff;margin-top:10px;" ng-repeat="x in [1,2,3,4,5,6,7]" ng-click="go('stock_list',{id:x})">
		          	<div style="padding:10px;">
		            <div class="clearfix" style="padding-bottom:6px;">
		              <div style="color:#333333;font-size:12pt;">
		                <div class="icon-background-color-{{x}}" style="float:left;width:18px;height:18px;text-align:center;border-radius:9px;">{{x}}</div>
		                <b style="padding-left:5px;">牛气冲天</b></div>
		            </div>
		            <div class="row" style="padding:0px;">
		              <div class="col col-33" style="border-right:1px solid #dddddd;padding:0px;">
		                <div style="font-size:10pt;color:#aaaaaa;">近三个月收益</div>
		                <div style="font-size:14pt;color:#f64c00;"><b>+2.22%</b></div>
		              </div>
		              <div class="col col-67" style="padding:0px;padding-left:10px;font-size:10pt;color:#333333;">趋势投资策略，低频交易，出手稳健，冷静的趋势派。</div>
		            </div>
		          </div>
		        </div>
	      	</div>
	    </ion-list>
    </ion-content>
</ion-view>