<ion-view>
	<ion-content class="has-tabs" ng-controller="StockListCtrl" ng-init="init()" style="background:#f3f3f3;z-index:1;">
	    <div>
	    	<div style="position:relative;">
	    		<img src="{{initZH.img}}" width="100%" height="182px;">
							<div class="index-mask">&nbsp;</div>
							<div class="index-name">
								{{initZH.name}}
							</div>
							
							<div style="position:absolute;top:60px;left:20px;right:20px;font-size:12pt;color:#c3c3c3;">{{initZH.attr}}</div>
							<div>
								<div class="index-subtitle" style="top:140px;left:70px;color:#fff;">
									<div class="row" style="width:100%">
										<div style="float:left;">
											<i class="icon ion-arrow-graph-up-right"></i>
										</div>
										<div style="padding-left:3pt;float:left;">
											涨{{initZH.up}}支
										</div>
										<div style="float:left;padding-left:15pt;">
											<i class="icon ion-arrow-graph-down-right"></i>
										</div>
										<div style="padding-left:3pt;float:left;">
											跌{{initZH.down}}支
										</div>
										<div style="float:left;padding-left:15pt;">
											<i class="icon ion-navicon-round"></i>
										</div>
										<div style="padding-left:3pt;float:left;">
											平{{initZH.flat}}支
										</div>
									</div>
								</div>
							</div>
	    	</div>
			<div style="background:#fff;">
				<div class="row" style="height:30pt;font-size:12pt;color:#333333;">
					<div class="col col-33">股票</div>
					<div class="col col-33" style="text-align:right;">价格</div>
					<div class="col col-33" style="text-align:right;">涨跌幅</div>
				</div>
				<ion-list>
				  <ion-item class="row" style="" ng-repeat="stock in stocks">
				    <div class="col col-33">
				    	<div style="font-size:12pt;color:#333333;">{{stock.name}}</div>
				    	<div style="line-height:10px;font-size:10pt;color:#aaaaaa;">{{stock.code}}</div>
				    </div>
				    <div class="col col-33" style="text-align:right;padding-top:7pt;">{{stock.price}}</div>
				    <div class="col col-33" ng-class="{true: 'change_rate_down', false: 'change_rate_up'}[stock.change_rate<0]" style="text-align:right;padding-top:7pt;">{{stock.change_rate}}%</div>
				  </ion-item>
				</ion-list>
			</div>
		</div>
	</ion-content>
	<div class="bar bar-footer bar-dark">
		<div class="title" ng-click="filterAction()">筛选</div>
	</div>
	
</ion-view>